<div class="grid">

  <!---Formulario-->
  <div class="col-12 sm:col-8">
    <form [formGroup]="futbolistaForm" (ngSubmit)="guardarFutbolista()">
      <mat-card>
        <mat-card-content class="grid">

          <mat-form-field class="col-12">
            <mat-label>Nombre</mat-label>
            <input matInput type="text" formControlName="nombre"  required>
          </mat-form-field>

          <mat-form-field class="col-12 sm:col-6">
            <mat-label>Nacionalidad</mat-label>
            <input matInput type="text" formControlName="nacionalidad" required>
          </mat-form-field>

          <mat-form-field class="col-12 sm:col-6">
            <mat-label>Apodo</mat-label>
            <input matInput type="text" formControlName="apodo">
          </mat-form-field>

          <mat-form-field class="col-12 sm:col-6">
            <mat-label>Posicion</mat-label>
           <mat-select formControlName="posicion" required>
            <mat-option *ngFor="let posicion of posiciones" [value]="posicion.posicion">{{ posicion.nombre }}</mat-option>
           </mat-select>
          </mat-form-field>

          <mat-form-field class="col-12 sm:col-6">
            <mat-label>Equipos</mat-label>
            <input matInput formControlName="equipos" type="text">
          </mat-form-field>

          <mat-form-field class="col-12">
            <mat-label>Foto</mat-label>
            <input matInput type="text" formControlName="imagen" required>
          </mat-form-field>

        </mat-card-content>

        <mat-card-actions>
          <button *ngIf="futbolista?.uid" mat-flat-button color="warn" type="button" style="margin: 0px 10px" (click)="deleteFutbolista()" >
            <mat-icon>delete</mat-icon>
            Eliminar
          </button>

          <button mat-flat-button color="primary" type="submit" style="margin: 0px 10px" >
            <mat-icon>save</mat-icon>
            Guardar
          </button>

        </mat-card-actions>
      </mat-card>
    </form>

    <pre>{{ futbolistaForm.value | json }}</pre>
  </div>

  <!--Imagen-->
  <div class="col-12 sm:col-4">
    <mat-card>
      <img mat-card-image [src]=" futbolista! | futbolImg " alt="Foto del futbolista">
    </mat-card>
  </div>

</div>
